@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Instrument Serif';
        font-style: normal;
        font-weight: 400;
        src: url('../fonts/instrument-serif/InstrumentSerif-Regular.ttf') format('ttf');
    }

    @font-face {
        font-family: 'Instrument Serif';
        font-style: italic;
        font-weight: 400;
        src: url('../fonts/instrument-serif/InstrumentSerif-Italic.ttf') format('ttf');
    }

    /* Import Switzer (variable woff2 font: Switzer-Variable.woff2 and Switzer-VariableItalic.woff2) */
    @font-face {
        font-family: 'Switzer';
        font-style: normal;
        font-weight: 100 900;
        src: url('../fonts/switzer/Switzer-Variable.woff2') format('woff2');
    }

    @font-face {
        font-family: 'Switzer';
        font-style: italic;
        font-weight: 100 900;
        src: url('../fonts/switzer/Switzer-VariableItalic.woff2') format('woff2');
    }
}

@layer components {
    .textarea {
        @apply border-base-300 bg-transparent focus:border-accent focus:outline-none;
    }
}
